/*reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*common*/

.container{
    max-width: 900px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    width: 700px;
    height: 300px;
    background-color: aqua;
    position: relative;
}

.next, .prev {
    position: absolute;
    background-color: yellow;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
    cursor: pointer;
}

.prev{
    left: 50%;
    transform: translate(-50%);
    top: 20px;
}

.next{
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
}

.item{
    height: 100%;
    display: none;
}

.show{
    display: block;
}

.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
